<div>
	<div class="chromaos-default-lock-screen-default-content">
		<h1 class="chromaos-default-lock-screen-default-content-title">Lock Screen</h1>
		<div class="avatar">
			<img src="imgs/default-user-profile.jpg" class="avatar-img" />
		</div>
		<div class="row chromaos-default-lock-screen-default-content-actions">
			<div class="col-xs-6 text-center">
				<button type="button" class="btn btn-sm btn-success" ng-click="unlockScreenOk();">
					<i class="fa fa-unlock"></i> Unlock correctly
				</button>
			</div>
			<div class="col-xs-6 text-center">
				<button type="button" class="btn btn-sm btn-danger" ng-click="unlockScreenKo();">
					<i class="fa fa-unlock"></i> Unlock error
				</button>
			</div>
		</div>
	</div>
</div>
